.phototitle__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.image__orginalname{
    text-align: center;
}

@media only screen and (max-width:1000px){
    
}